# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
zombie.sym
zombie.asm
stressfs.asm
sh.sym
sh.asm
rm.sym
rm.asm
mkfs
mkdir.sym
mkdir.asm
main_ass1.c
ls.sym
ls.asm
ln.sym
ln.asm
kill.sym
kill.asm
kernel.sym
kernel.asm
init.asm
grep.sym
grep.asm
fs.img
forktest.asm
echo.sym
echo.asm
cat.sym
cat.asm
bootblock.asm
bootblock
_zombie
_wc
_usertests
_stressfs
_sh
_rm
_mkdir
_ln
_kill
_init
_grep
_forktest
_echo
_cat
xv6.img
wc.sym
wc.asm
vectors.S
usertests.sym
usertests.asm
stressfs.sym
kernel
initcode.asm
initcode
init.sym
entryother.asm
entryother
_ls
